<div class="jumbotron center">
  <h1> Welcome to DigBeats </h1>
  <h2>Revolutionising music!</h2>
  <%= link_to " Sign up now","",class:"btn btn-lg btn-success" %>
  </div>
  <div class="row">
      <div class="col-lg-4">
          <h3 class="midrow">
              View concerts 
          </h3>
          <h4  text-align="left">Browse and view concerts as guests and Signup later</h4>
          <p> <%= link_to "Browse Concerts","",class:"btn btn-warning btn-small" %> </p>
      </div>
      
      <div class="col-lg-6">
          <h3 class="midrow">
              View Artists 
          </h3>
          <h4  text-align="right">Browse and view Artists</h4>
          <p><%= link_to "Browse Artists","",class:"btn btn-warning btn-small" %></p>
      </div>
      
  </div>